openapi: 3.2.0
info:
  title: Prdictionedge Ai Certification Attempts API
  version: aux-preflight-0.2.0
  description: 'Operations tagged Certification Attempts across 2 of this provider''s published API definitions: prdictionedge-ai-openapi.json, prdictionedge-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.aux.prdictionedge.ai
tags:
- name: Certification Attempts
paths:
  /v1/certification-attempts:
    post:
      operationId: createCertificationAttempt
      summary: Create or reuse a durable certification attempt that automatically retries…
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificationRequest'
      responses:
        '200':
          description: Existing or immediately terminal attempt
        '202':
          description: Durable attempt accepted; automatic source retry is active
        '422':
          description: REQUIREMENTS_OUTSTANDING before an attempt is created
        '503':
          description: Durable attempt store unavailable
      tags:
      - Certification Attempts
    servers:
    - url: https://api.aux.prdictionedge.ai
  /v1/certification-attempts/{attempt_id}:
    get:
      operationId: getCertificationAttempt
      summary: Read the current durable certification attempt state without resubmitting the…
      parameters:
      - name: attempt_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^auxattempt_[a-f0-9]{32}$
      responses:
        '200':
          description: Attempt status
        '400':
          description: Invalid attempt id
        '404':
          description: Attempt not found or expired
      tags:
      - Certification Attempts
    servers:
    - url: https://api.aux.prdictionedge.ai
components:
  schemas:
    CertificationRequest:
      type: object
      required:
      - proposal
      properties:
        profile_id:
          type: string
          enum:
          - vendor_payment_pre_action
          - counterparty_registry_pre_action
          - counterparty_identity_pre_action
          default: vendor_payment_pre_action
        proposal:
          type: object
        transaction_history:
          type: array
          items:
            type: object
          maxItems: 1000
        source_attestations:
          type: array
          items:
            type: object
            required:
            - source_domain
            - jws
          maxItems: 20
        evidence_bundles:
          type: array
          items:
            type: object
          maxItems: 30
      description: Select a live profile with profile_id. OpenAPI advertises live profiles only; shadow profiles are intentionally excluded from discovery. Omit profile_id for backwards-compatible vendor_payment_pre_action behavior.
x-refined-from:
- prdictionedge-ai-openapi.json
- prdictionedge-ai-openapi.yml
